/* ------- OLD CSS - see SASS files for current -------- */

:root {
   --mainbg: #3f3d3b;
   --headings: #b94745;
   --bodycopy: #b99a4c;
   --headfoot: #1e597a;
   --link: #50897b;
}

body {
    margin: 0;
    font-family: 'segoe ui', sans-serif;
    font-size: 20px;
    color: var(--bodycopy);
    background: var(--mainbg);
}

header,
footer {
    background: var(--headfoot);
    padding: 1em 1em;
}

main {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

.listpage h1 {
    grid-column: span 3;
    margin: 1rem 3rem;
    /* background: #222; */
}

.content {
    margin: 3em;
    max-width: 1200px;
}

h1, h2, h3, h4 {
    color: var(--headings);
    font-family: 'courier new';
    margin-bottom: 0;
}

h1 + p, h2 + p, h3 +p {
    margin-top: 0;
}

p,
li {
    line-height: 1.6;
}


/*  ----- NAVIGATION ------- */
a,
a:link,
a:visited {
    color: var(--link);
    text-decoration: none;
    transition: .6s;
}

a:hover {
    color: #eee;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 3px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

header > div:first-child,
header > nav {
    font-size: 1.6vw;
}

header > div:last-child {
    grid-column: 1 / -1;
}
header nav li {
    margin-left: 1em;
}

header aside ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    padding: 0;
    list-style-type: none;

}

footer nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}
footer nav ul li > a,
footer nav ul li > a:link,
footer nav ul li > a:visited {
    color: #fff;
}


/* --------- SYNTAX HIGHLIGHTING ----- */

pre {
    display: inline-block;
    font-family: 'courier new', monospace;
    font-weight: 700;
    border-radius: 7px;
    padding: 0 1.5em;
    /* background-color: #353330; */
}

code {
    margin-right: 1.5em;
    display: inline-block;
    font-family: 'courier new', monospace;
    font-weight: 700;
    color: green;
    border-radius: 7px;
    padding: .3em .4em;
}
