<!DOCTYPE html>
<html lang="en">

{{ partial "head" .}}

<body class="{{ replace .Name " " "-" | lower }}">
<div class="container">
    {{ block "main" . }}

    {{ end }}
    {{ partial "footer" . }}

</div>
    
</body>
</html>