{{ define "main" }}

{{ partial "header" . }}

<main class="listpage">

    <div class="content">
        <h1>{{ .Title }}</h1>

        {{ .Content }}




        {{ if eq .Kind "taxonomy" }}
        <ul class="taxonomy">
            {{ range .Data.Terms.Alphabetical }}
                    <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a><small> x{{ .Count }}</small></li>
            {{ end }}
        </ul>

        {{ else }}


        <ul class="regularpages">
            {{ range .RegularPages.ByTitle }}
            <li {{ if .Params.draft }} class="draftcolour" {{end}}>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a><br><small>{{ .Date.Format "02 Jan 06" }}, {{ .WordCount }}
                    words</small>
                <p>{{ .Summary }}</p>

            </li>
            {{ end }}
        </ul>

        {{ end }}

    </div>



    {{ partial "aside" . }}
</main>


{{ end }}