{{ define "main" }}

{{ partial "header" . }}

<main class="single">

    <section class="copy">
        <div class="heading">
            <h1>{{ .Title }}</h1>
            
            <div class="time">
                <time>{{ .Date.Format "02 Jan 2006" -}} 
                    {{- if ne .Date .Lastmod }} &ndash; <em>updated: {{ .Lastmod.Format "02 Jan 2006" -}}</em>
                    {{- end }}
                </time>
                <div class="wordcount">
                    {{ .WordCount }} words
                </div>
            </div>
        </div>

            {{ if .Params.toc }}
            <details>
                <summary>Table of contents</summary>
                {{ .TableOfContents }}
            </details>
            {{ end }}

        {{ if .Params.draft }}
        <div class="draft">This is a draft version</div>
        {{ end }}

        {{ .Content }}

        {{ partial "prevnext" . }}
    </section>

    {{ partial "aside" . }}
</main>
{{ end }}