$dark: rgb(46, 48, 54);
$light: #f5efe3;
$a1: rgb(100, 170, 8);
$a2: rgb(154, 252, 26);


:root {
    --accent-1: rgb(100, 170, 8);
    --accent-2: rgb(154, 252, 26);
    --bg-colour: $dark;
    --text-colour: $light;
}

body {
    background-color: $dark;
    color: $light;
}

::selection {
    color: #fff;
    background-color: fuchsia;
}

h1,
h2 {
    color: $a1;
}

header {
    padding-top: 0.5em;
    border-top: 5px solid $a1;
}

footer {
    background-color: $a1;
    color: $light;
    padding: .4em 3em;
    font-weight: 400;
}

footer a,
footer a:link,
footer a:visited {
    color: $light
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: $a1;
    transition: .7s;
}

a:hover {
    color: $light;
}

a[href="#"] {
    color: $a2;
    // font-weight: bold;
    cursor: default;
}

a[href="#"]:hover {
    color: $a1;
}


ul>li::marker {
    color: $a1;
}

.draft {
    background-color: $a1;
    color: $light;
    padding: 0.3em;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.draftcolour {
    background-color: rgb(94, 75, 51);
}