body {
    font-family: Lato, 'segoe ui', arial, sans-serif;
    font-size: clamp(0.88rem, calc(0.75rem + 0.63vw), 1.50rem);
    font-weight: 300;
}

header {
    font-weight: 400;
}

h1 {
    font-weight: normal;
    font-size: 3.5em;
    font-family: 'Abril Fatface';
    margin-bottom: .2em;
    padding-bottom: 0.15em;
    border-bottom: 1px solid;
    line-height: 1;
    text-wrap: balance;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 0;
    text-wrap: balance;
}

h2+p,
h2+ul,
h2+h3 {
    margin-top: 0.4em;
}

h3 {
    margin-bottom: 0;
}

h3+p {
    margin-top: 0.4em;
}

.heading>.time {
    display: flex;
    justify-content: space-between;
}


.heading time,
.copy>time,
.wordcount {
    font-weight: normal;
    font-family: lato, sans-serif;
    font-size: 1rem;
    color: $light;
    opacity: .3;
    margin-top: 0;
}

code {
    font-family: 'Azeret Mono', 'Courier New', monospace;
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.7;
}

p>code,
li>code,
td>code {
    color: rgb(250, 200, 36);
}

strong {
    font-family: Lato;
    font-weight: 700;
    color: $light;
    opacity: .3;
}

small {
    font-size: 16px;
    color: #aaa;
}

// Blockquotes in Hugo come with a p tag inside.

blockquote>p {
    margin: 1.5em 10px;
    font-style: italic;
}

blockquote>p:first-child {
    text-indent: -30px;
}

blockquote>p:first-child::before {
    content: "“"; // used open-quote here before but that creates a single quote
    font-size: 3em;
    font-family: georgia, serif;
    opacity: .3;
    line-height: .1em;
    vertical-align: -.4em;
    padding-right: 8px;
}

blockquote>p:last-child::after {
    content: "”";
    font-size: 3em;
    font-family: georgia, serif;
    opacity: .3;
    line-height: .1em;
    vertical-align: -.4em
}

.prevnext {
    font-weight: bold;
}