:root {
    --pageSideMargin: calc(5px + 2vw);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.container {
    position: relative;
    min-height: 100vh;
    max-width: 2450px;
    margin: 0 auto;
    padding-bottom: 7em;
}


main {
    margin: 0em var(--pageSideMargin);
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-column-gap: 2em;
}

// Trying to find why the grid is not responding

header {
    display: none;
}

main>.heading {
    grid-column: span 1 / 2;
    margin-bottom: 1em;
}

main.listpage>.content ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}

body.tags main.listpage>.content ul.taxonomy {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


ul.regularpages>li {
    border: solid 1px $a1;
    padding: .5em;
    line-height: 1;
    font-size: .8em;
}

ul.regularpages>li>p {
    line-height: 1.2;
    margin-top: 0.5em;
    margin-bottom: 0;
}


h1+p,
h2+p,
h3+p {
    margin-top: 0;
}

h2,
h3,
h4 {
    margin-bottom: .4em;
    margin-top: 2em;
}

p,
li {
    line-height: 1.5;
}

p {
    margin-block: 0.75em;
}

button {
    border: none;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin: 5px;
    font-size: 1em;
    background-color: #0b79ff;
    outline: solid 1px #0b79ff;
    color: #ddd;
    transition: all 0.5s;
}

button:hover {
    cursor: pointer;
    // background-color: #ff6004;
    outline-offset: -2px;
    outline-color: #fff8;
    color: #fff;
}

.prevnext {
    text-align: center;
    margin-top: 3em;
    padding-top: 0.6em;
    border-top: solid 1px $a1;
    // border-color: $a1;
}

// ====== Details and summary

details {
    margin: 2em auto;
}

summary {
    padding: 1em;
    font-weight: bold;
    transition: all 0.4s ease-out;
    cursor: pointer;
}

// .details-content {
//     transition: scale 0.4s ease-out 0.95s;
// }

details[open] {
    summary {
        background-color: $a1;
    }

    .details-content {
        background-color: #0003;
        padding: 1em;
        scale: 1 1;
    }
}

nav#TableOfContents ul {
    columns: 4 300px;
}

// ----- Header section

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 3px;
    margin: 0 var(--pageSideMargin);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

header>div:first-child,
header>nav,
.prevnext {
    font-size: 1.6vw;
}

header>div:last-child {
    grid-column: 1 / -1;
}

header nav li {
    margin-left: 1em;
}

header aside ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    padding: 0;
    list-style-type: none;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1em;
    font-size: 0.8em;
    width: calc(100% - 2*var(--pageSideMargin));
    margin: auto var(--pageSideMargin);
    display: flex;
    justify-content: space-between;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    line-height: 1;
}

footer nav ul li>a,
footer nav ul li>a:link,
footer nav ul li>a:visited {
    color: #fff;
}

.highlight {
    max-width: calc(66vw - 2em - 10px);
}

pre {
    background-color: #24262b !important;
    display: inline-block;
    padding: 0.5em 2.5em .5em .5em;
    overflow-x: auto;
    white-space: pre-wrap;
}

code span {
    background: transparent !important;
}

[style*="color:#6ab825;font-weight:bold"] {
    color: #c8974a !important;
    color: #189AAF !important;
    font-weight: 500 !important;
}


aside.section h3:first-child {
    display: none;
}

aside {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul.latest {
    column-count: 2;
    column-gap: 3vw;
    column-rule: solid 1px $a1;

    li {
        font-size: 0.9em;
        line-height: 1.2;
        margin-bottom: 0.5em;
    }
}

aside ul.taglist {
    column-count: none;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 0em;

    li {
        display: inline-block;
        margin-right: .2em;
        margin-bottom: 0.2em;
    }

    li>a {
        display: block;
        background-color: $a1;
        color: $light;
        padding: .1em .4em;
        // text-transform: uppercase;
        font-size: 0.6em;
        font-weight: bold;
        border-radius: 8px;
    }

    a:hover {
        background-color: $light;
        color: $a1;
    }
}

.time {
    display: flex;
    justify-content: space-between;
}

iframe {
    margin-top: 2em;
}

// TABLES

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #1114;
}

th {
    border-bottom: 1px solid currentColor;
}

th,
td {
    padding: 0.5em;
    vertical-align: top;
}

td+td {
    border-left: solid 1px currentColor;
}

td code {
    white-space: nowrap;
}


// The footnotes section is at the end of the content fieldset

.footnotes {
    margin-top: 7em;
    // border-top: solid 1px $a1;
}

.footnotes hr {
    display: none;
}

.footnotes ol::before {
    content: 'Footnotes';
    display: block;
    color: $a1;
    font-size: 2em;
    font-weight: 400;
    margin-left: -1em;
}