
@media screen and (max-width: 1150px) {
    
    aside ul.latest {
        column-count: 1;
    }

    main.listpage > .content ul  {
        grid-template-columns: repeat(2, 1fr);
        font-weight: bold;
        
        small {
            display: none;
        }
    }
}


@media screen and (max-width: 799px) {
    
    main {
        display: block;
    }

    aside ul.latest li a {
        display: block;
        text-align: center;
        background-color: $a1;
        color: white;
        font-weight: bold;
        margin-bottom: 12px;
        border-radius: 12px;
        padding: 0.6em;
    }
}