// various CSS with nowhere else to go at present

// Search page

#custom-search-field {
    font-size: 2em;
    padding: 0.1em;
    background-color: #444;
    color: $a1;
    border: none;
}

#custom-search-field:focus {
    width: 100%;
    outline: dotted 1px fuchsia;
}

.search .time {
    display: none;
}


// image gallery used in snippets section prefaced with ul to separate from body.image-gallery

ul.image-gallery {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 1rem;
}

ul.image-gallery li {
    // width: min-content;
    font-size: 0.8em;
}

ul.image-gallery img {
    border-radius: 12px;
    width: 100%;
    max-width: 300px;
    filter: saturate(0);
    opacity: 50%;
    transition: all 0.7s;
}

ul.image-gallery a:hover img {
    filter: saturate(1);
    opacity: 100%;
}

ul.image-gallery span {
    display: block;
}


abbr {
    cursor: help;
}