
<aside class="{{ .Kind }}">
    {{ if .Params.Tags }}
    <h3>Tagged in:</h3>

    <ul class="taglist">
        {{ range (.GetTerms "tags") }}
        <li><a href="{{.RelPermalink}}">{{ .LinkTitle }}</a></li>
        {{end}}
    </ul>
    {{ end }}

    <h3>Latest posts</h3>

    <ul class="latest">
        {{- $currentPage := . -}}

        {{- range first 40 (where .Site.RegularPages.ByLastmod.Reverse "Section" "posts") }}
        
        <li>
            {{- if eq $currentPage . -}}

            <a href="#">{{ .LinkTitle }}</a></li>
            {{- else -}}
            
            <a href="{{ .RelPermalink }} " title="{{ .Summary | truncate 45 }}">{{ .LinkTitle }}</a>

            {{- end -}}
        </li>
        {{- end }}
    </ul>
</aside>