<footer>
    <div>
        {{- if .IsHome -}}
        {{- site.Title -}}
        {{- else -}}
        <a href="/" title="home">{{ .Site.Title }}</a> 
        {{- end -}}
        &copy;{{- now.Year -}}
    </div>
    <div>w. {{ len .Site.RegularPages }} pages</div>

    <div>Kind <i>{{.Kind}}</i> | Section: <i>{{ .Section }}</i></div>

    <div class="rss"><a href="/index.xml">RSS</a></div>

    {{- with .Site.Menus.Footmenu -}}
    <nav>
        <ul>
            {{ range . -}}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{- end }}
        </ul>
    </nav>
    {{- end -}}
    
    <div>Built with <a href="https://gohugo.io/">Hugo</a> v.{{ hugo.Version }}</div>
</footer>