<header>
    <div><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
    
    <nav>
        <ul>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
            {{ end }}
        </ul>
    </nav>
</header>