
<head>
    {{ hugo.Generator }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn how to use the extremely fast Hugo static site generator.">
    
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%220%22 fill=%22%232e3036%22></rect><path fill=%22%2364aa08%22 d=%22M14.30 16.57L14.30 14.65L45.81 14.65L45.81 16.57L39.95 16.57L39.95 47.88L60.05 47.88L60.05 16.57L54.09 16.57L54.09 14.65L85.70 14.65L85.70 16.57L79.74 16.57L79.74 83.43L85.70 83.43L85.70 85.35L54.09 85.35L54.09 83.43L60.05 83.43L60.05 50.50L39.95 50.50L39.95 83.43L45.81 83.43L45.81 85.35L14.30 85.35L14.30 83.43L20.26 83.43L20.26 16.57L14.30 16.57Z%22></path></svg>" />
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    
    <script src="https://kit.fontawesome.com/dc509f7a44.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Azeret+Mono:ital,wght@0,300;0,500;1,300&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    
 
    {{ with resources.Get "css/main.scss" }}
    {{ $opts := dict "transpiler" "dartsass" "targetPath" "css/main.css" }}
        {{ with . | toCSS $opts }}
        <link rel="stylesheet" href="{{ .RelPermalink }}">
        {{ end }}
    {{ end }}

    {{ with .Params.css }}
    <style>
        {{- range . }}
        {{ . | safeCSS }}
        {{- end }}
    </style>
    {{ end }}

    {{ with .Params.style }}
        <style>
            {{ . | safeCSS }}
        </style>
    {{ end }}

    <script src="//unpkg.com/alpinejs" defer></script>
</head>
