
<div class="prevnext">
{{with .Prev}}
<a href="{{ .RelPermalink }}"><i class="fa fa-backward" aria-hidden="true"></i>
    Previous</a>
{{end}}
 |
<a href="#" style="cursor: pointer;">Top</a>
 | 
{{with .Next}}    
<a href="{{ .RelPermalink }}">Next <i class="fa fa-forward" aria-hidden="true"></i></a>


{{end}}

</div>
