{{ define "main" }}

{{ partial "header" . }}
<main class="index">
    <section class="copy">
        <h1>{{ .Site.Title }}</h1>

        <time>Latest updates: <em>{{ .Site.Lastmod.Format "Monday 2 Jan 2006" }}</em></time>

        {{ .Content }}
    </section>
    {{ partial "aside" . }}
</main>

{{ end }}