<details class="theropods unis">
    <summary>Late Cretacious theropods</summary>

{{ with resources.GetRemote "https://my-json-server.typicode.com/xixianykus/theropods/db" | unmarshal }}
<div class="details-body">
    {{ range .theropods }}
    <div class="dinosaur"><a href="{{ .link }}">{{ .name }} </a>discovered in {{ .where }} in {{ .when }}</div>
    {{ end }}
</div>
{{ end }}

</details>

