<details>
    <summary>More examples</summary>
    <table>
        <tr>
            <th>Hugo code</th>
            <th>Result</th>
        </tr>
        <tr><td><code>now.Nanosecond</code> </td><td>{{ now.Nanosecond }}</td></tr>
        <tr><td><code>now.Second</code> </td><td>{{ now.Second }}</td></tr>
        <tr><td><code>now.Minute</code> </td><td>{{ now.Minute }}</td></tr>
        <tr><td><code>now.Weekday</code> </td><td>{{ now.Weekday }}</td></tr>
        <tr><td><code>now.Day</code> </td><td>{{ now.Day }}</td></tr>
        <tr><td><code>now.Month</code> </td><td>{{ now.Month }}</td></tr>
        <tr><td><code>now.Year</code> </td><td>{{ now.Year }}</td></tr>
        <tr><td><code>now.YearDay</code> </td><td>{{ now.YearDay }}</td></tr>
        <tr><td><code>now.UTC</code> </td><td>{{ now.UTC }}</td></tr>
        <tr><td><code>time.Now</code> </td><td>{{ time.Now }}</td></tr>
        <tr><td><code>time.Now.Format</code> </td><td>{{ time.Now.Format "2 Jan 2006" }}</td></tr>
        <tr><td><code>now.Format</code> </td><td>{{ now.Format "Sunday, 2 January 2006" }}</td></tr>
    </table>
</details>